$background-color-primary: #FFFFFF;
$background-color-accent: #E4EDFD;
$background-color-element: #EFEFEF;
$background-color-element-light: #FBFBFB;
$background-color-shadow: rgba(0,0,0,0.7);

$theme-color-primary: #3369F3;
$theme-color-disabled: #999999;
$theme-color-error: #FF2F2F;

$font-weight-default: 500;
$font-weight-bold: 600;

$font-size-small: 9px;
$font-size-input-validation-text: 8px;
$font-size-alternative-navigation: 11px;
$font-size-default: 12px;
$font-size-heading: 13px;
$font-size-page-error-number: 40px;
$font-size-large: 20px;

$text-color-default: #999999;
$text-color-accent: #1E1E1E;
$text-color-theme-primary: #FFFFFF;
$text-color-error: #FF2F2F;
