<div class="error-page-content">
    <div class="error-page-content__error-code">
        {{ errorCode }}
    </div>
    <div class="error-page-content__message">
        {{ errorMessage }}
    </div>
    <nav class="error-page-content__navigation-to-chat" onclick="navigateByRoutes('Chat')">
        Назад к чатам
    </nav>
</div>