<div class="error-page-content">
    <p class="error-page-content__error-code">
        {{ errorCode }}
    </p>
    <h1 class="error-page-content__message">
        {{ errorMessage }}
    </h1>
    <nav class="error-page-content__navigation-to-chat" onclick="navigateByRoutes('Chat')">
        Назад к чатам
    </nav>
</div>
