.chat-content {

    display: grid;
    grid-template-rows: 60px calc(100% - 120px) 60px;

    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        margin-left: 20px;
        border-bottom: $background-color-element 1px solid;

        height: 60px;

        .header {

            &__info {

                display: flex;
                flex-direction: row;
                align-items: center;

                .info {

                    &__image {
                        border-radius: 25px;
                        background-color: $background-color-element;

                        width: 30px;
                        height: 30px;

                        svg {
                            width: 30px;
                            height: 30px;
                        }
                    }

                    &__name {
                        margin-left: 10px;

                        font-size: $font-size-heading;
                        font-weight: $font-weight-bold;
                        color: $text-color-accent;
                    }
                }
            }

            &__settings {
                width: 30px;
                padding-left: 20px;

                svg {
                    height: 16px;
                }

                .settings-content {
                    display: none;
                    position: absolute;
                    right: 30px;
                    background-color: $background-color-element-light;
                    min-width: 160px;
                    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
                    padding: 12px 16px;
                    z-index: 1;
                }

                &:hover .settings-content {
                    display: block;
                }
            }
        }
    }

    &__main {
        overflow-y: scroll;
        height: calc(100vh - 150px);
    }
}
