.profile {
  display: flex;
  flex-direction: row;

  background: $background-color-primary;

  height: calc(100vh - 10px);
  width: 100%;
  overflow: hidden;

  &__navigate-back {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-right: 1px solid $background-color-element;
    background: $background-color-element-light;

    height: 100%;
    width: 70px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-width: 510px;

    .content {
      &__avatar {
        border-radius: 100px;
        background-color: $background-color-element;

        width: 130px;
        height: 130px;

        z-index: 1000;

        &:after {
          display: flex;
          position: relative;
          top: -130px;
          justify-content: center;
          align-items: center;

          border-radius: 100px;
          background:$background-color-shadow;

          width: 130px;
          height:130px;

          color: $text-color-theme-primary;
          content: 'Загрузить фото';
          opacity: 0;
        }

        &:hover:after {
          opacity: 0.5;
        }

        img {
          width: 130px;
          height: 130px;
        }
      }

      &__name {
        margin-top: 20px;

        font-size: $font-size-large;
        color: $text-color-accent;
      }

      &__info {
        padding: 0;
        margin: 60px 0 0;

        width: 40%;

        list-style-type: none;
      }

      &__actions {
        padding: 0;
        margin: 60px 0 0;

        width: 40%;

        list-style-type: none;
      }
    }
  }
}