.profile-form {
  display: flex;
  flex-direction: column;

  width: 40%;

  &__avatar-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
  }

  &__avatar {
    border-radius: 100px;
    background-color: $background-color-element;

    width: 130px;
    height: 130px;

    z-index: 1000;

    &:after {
      display: flex;
      position: relative;
      top: -130px;
      justify-content: center;
      align-items: center;

      border-radius: 100px;
      background:$background-color-shadow;

      width: 130px;
      height:130px;

      color: $text-color-theme-primary;
      content: 'Загрузить фото';
      opacity: 0;
    }

    &:hover:after {
      opacity: 0.5;
    }

    img {
      width: 130px;
      height: 130px;
    }
  }

  &__button {
    margin-top: 100px;
    margin-bottom: 30px;

    width: 100%;
  }
}
