<form class="profile-form">
    <div class="profile-form__avatar-wrapper">
        <div class="profile-form__avatar">
            {{{imageLoadIcon}}}
        </div>
    </div>
    {{#each profileFormItems}}
        {{{this}}}
    {{/each}}
    <div class="profile-form__button">
        {{{profileFormButton }}}
    </div>
</form>
