<form class="profile-form" onsubmit="preventDefaultEvent(event)">
    <div class="profile-form__avatar-wrapper">
        <div class="profile-form__avatar">
            <img alt="chat-img" src={{imageUrl}}>
        </div>
    </div>
    {{#each profileFormItems}}
        {{{this}}}
    {{/each}}
    <div class="profile-form__button">
        {{{profileFormButton }}}
    </div>
</form>
