<div class='profile-information'>
    <div class="profile-information__avatar">
        <img alt="chat-img" src={{imageUrl}}>
    </div>
    <h1 class="profile-information__name">
        {{nameInChat}}
    </h1>
    <ul class="profile-information__info">
        {{#each profileInfoItems}}
            {{{this}}}
        {{/each}}
    </ul>
    <ul class="profile-information__actions">
        {{#each profileInfoActions}}
            {{{this}}}
        {{/each}}
    </ul>
</div>
