.search-select {

    &:hover .search-select__items{
        display: block;
    }

    &__items{
        display: none;
        position: absolute;
        left: 135px;
        background-color: $background-color-element-light;
        min-width: 160px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }
}
