<div class="input-field">
    <label for="{{inputFieldId}}" class="input-field__label">
        {{inputFieldLabel}}
    </label>
    {{{input}}}
    <label class="input-field__validation-text">
        {{#unless isInputFieldValid}}
            {{inputFieldErrorText}}
        {{/unless}}
    </label>
</div>
