<!--TODO: REMOVE DEMO ERROR PAGES-->
<div style="position: absolute; right: 0">
    <button style="background-color: #FF2F2F" onclick="navigateByRoutes('ErrorNotFound')">404</button>
    <button style="background-color: #FF2F2F" onclick="navigateByRoutes('ErrorServer')">500</button>
    <button style="..." onclick="navigateByRoutes('LoadFileModalWindow')">loadFileModal</button>
</div>
