<form class="load-file">
    <label class="load-file__input-label" for="{{inputFieldId}}">
        {{inputFieldLabel}}
        {{{inputField}}}
    </label>
    <div class="load-file__drop-zone">
        Или перетащите файл в эту область
    </div>
    <div class="load-file__button">
        {{{submitButton }}}
    </div>
</form>
