<div class="chat-list">
    <div class="chat-list__navigation-wrapper">
        {{{profileNavigateButton}}}
    </div>
    <div class="chat-list__search">
        {{{search}}}
    </div>
    <ul class="chat-list__items">
        {{#each chatListItems}}
            <li>
                {{{this}}}
            </li>
        {{/each}}
    </ul>
</div>
