<div class="chat-search">
    <div class="chat-search__search">
        <img class="search__icon" alt="search_icon" src={{searchIconUrl}}>
        <input class="search__input" placeholder="Введите название чата">
    </div>
    <!--<img class="chat-search__plus-icon" alt="plus_icon" src="{{plusIconUrl}}">-->
    {{{addChatButton}}}
</div>
