@font-face {
  src: url("../fonts/Inter-Medium.ttf") format("truetype");

  font-family: "Inter";
  font-weight: 500;
}

@font-face {
  src: url("../fonts/Inter-SemiBold.ttf") format("truetype");

  font-family: "Inter";
  font-weight: 600;
}