<form class="login-form" onsubmit="preventDefaultEvent(event)">
    {{#each loginFormItems}}
        {{> input}}
    {{/each}}
    <div class="login-form__button">
        {{> button loginFormButton }}
    </div>
</form>
