<div class="button">
    <button class="button__button"

        {{#if buttonType}}
            type="{{buttonType}}"
        {{/if}}
    >
        {{buttonText}}
    </button>
    {{#if altNav}}
        {{{altNav}}}
    {{/if}}
    {{#if buttonValidationText}}
        <div class="button__validation-text">{{buttonValidationText}}</div>
    {{/if}}
</div>
