<div class="card">
    <div class="card__header">
        {{header}}
    </div>
    <div class="card__content">
        {{{body}}}
    </div>
    {{#if button}}
        <div class="card__button">
            {{button}}
        </div>
    {{/if}}
</div>
