<div class="profile-edit">
    <nav class="profile-edit__navigate-back">
        {{{navigateBack}}}
    </nav>
    <main class="profile-edit__content">
        {{{profileInformationEditForm}}}
    </main>
    {{{loadFileModalWindow}}}
</div>
