<div class="profile-edit">
    <nav class="profile-edit__navigate-back">
        {{> navigate-back}}
    </nav>
    <main class="profile-edit__content">
        {{> profile-information-edit-form}}
    </main>
</div>
