<form class="registration-form" onsubmit="preventDefaultEvent(event)">
    {{#each registrationFormItems}}
        {{{this}}}
    {{/each}}
    <div class="registration-form__button">
       {{{registrationFormButton }}}
    </div>
</form>
